<!-- <!DOCTYPE html> -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Management Dashboard</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <!-- Alert -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

</head>

<body>
    <!-- Navbar -->
    <div class="navbar shadow navbar-expand-lg">
        <div class="container">
        </div>
        <form class="d-flex mt-3" action="/admin/search" method="get">
            <input class="form-control input-search" type="search" placeholder="Search" name="q" aria-label="Search">
            <button class="btn btn-outline-primary btn-white btn-large fw-bold" type="submit">Search</button>
        </form>
        <div class="ms-3">
            <img src="/images/icon_profil.png" class="rounded-circle" alt=""
                style="width: 38px; height: 38px; object-fit: cover;">
        </div>
        <div class="btn-group">
            <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static"
                aria-expanded="false">
                Unis Badri
            </button>
            <ul class="dropdown-menu dropdown-menu-sm-end">
                <li><button class="dropdown-item" type="button">Action</button></li>
                <li><button class="dropdown-item" type="button">Another action</button></li>
                <li><button class="dropdown-item" type="button">Something else here</button></li>
            </ul>
        </div>
    </div>

    <!-- Sidebar -->
    <div class="sidebar close">
        <div class="sidebar-color"></div>
        <header>
            <div class="image-text">
                <span class="image ms-1">
                    <img src="/images/sidebar_logo.png" alt="" style="width: 34px;">
                </span>
                <div class="img-brand ms-1">
                    <img src="/images/rectangle_62.png" alt="" style="height: 34px; margin-right: 20px;">
                </div>
                <i class='bx bx-menu mx-4 toggle' id="header-toggle"></i>
            </div>
        </header>

        <div class="menu-bar">
            <div class="menu">
                <li class="nav-link mt-2">
                    <a href="datacar">
                        <img src="/images/home.png" alt="">
                        <span class="fw-bold mx-3">CARS</span>
                    </a>
                </li>
                <li class="nav-link mt-4">
                    <a href="datacar">
                        <img src="/images/administrator.png" alt="">
                        <span class="fw-bold mx-3">List Car</span>
                    </a>
                </li>
            </div>
        </div>
    </div>